<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="blog-text">
    <p><strong>Title</strong>：<%= @blog.title %></p>
    <p><strong>Contenu</strong>：<%= @blog.content %></p>
  </div>
  <p>Liste des commentaires (les contenus d'ici sont importants)</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
  <%= link_to 'Modifier', edit_blog_path(@blog) %> |
  <%= link_to 'Retour', blogs_path %>
</div>